{# templates/default/about.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfony quick</h1>
    <p>Это проект, демонстрирующий базовый функционал Symfony - свободного фреймворка, написанный на языке
        программирования PHP.</p>
    <p>Здесь реализовано:
    <ul>
        <li>REST API для работы с одной сущностью - Product</li>
        <li>
            Методы создания, изменения, получение информации по ID сущности (записи), получение листа всех сущностей,
            удаления:
            <ul>
                <li>
                    [POST] /api/products/create
                    <br>
                    <br>
                    С телом вида:
                    <br>
                    {
                    "name": "Товар",
                    "price":1000,
                    "description":"Неведомая хрень"
                    }
                    <br>Ответ вида:<br>
                    {
                    "id": 14,
                    "name": "Товар",
                    "price": 1000,
                    "description": "Неведомая хрень"
                    }
                </li>
                <br>

                <li>
                    [PATCH] /api/products/edit/{id}
                    <br>
                    <br>
                    С телом вида:
                    <br>
                    {
                    "name": "Неизвестный товар овар",
                    "price":1000000,
                    "description":"Неведомая хрень номер два"
                    }
                    <br>Ответ вида:<br>
                    {
                    "id": 2,
                    "name": "Неизвестный товар овар",
                    "price": 1000000,
                    "description": "Неведомая хрень номер два"
                    }
                </li>
                <br>

                <li>
                    [GET] /api/products/{id}
                    <br>

                    <br>Ответ вида:<br>
                    {
                    "id": 2,
                    "name": "Неизвестный товар овар",
                    "price": 1000000,
                    "description": "Неведомая хрень номер два"
                    }
                </li>
                <br>

                <li>
                    [GET] /api/products
                    <br>

                    <br>Ответ вида:<br>
                    {
                    "meta": {
                    "count": 36
                    },
                    "data": [
                    {
                    "id": 5,
                    "name": "Keyboard",
                    "price": 1999,
                    "description": "Ergonomic and stylish!"
                    },
                    {
                    "id": 6,
                    "name": "Товар",
                    "price": 1000,
                    "description": "Неведомая хрень"
                    },
                    ....
                    }
                </li>
                <br>

                <li>
                    [DELETE] /api/products/delete/{id}
                    <br>

                    <br>Ответ вида:<br>
                    {
                    "success": true
                    }
                </li>
            </ul>
            <br>
        </li>
        <li>Работа с БД PostgreSQL</li>
        <li>Обработка исключительных ситуаций</li>
        <li>Валидация полей объекта</li>
        <li>Журналирование</li>
    </ul></p>
{% endblock %}